<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>WP lab - Delivery Info</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style type="text/css">
        body {
            width: 800px;
            margin: auto;
        }
        table {
            width: 100%;
        }

        table, td, th {
            border: 1px solid black;
            padding: 3px 2px;
        }

        section {
            float: left;
            margin: 0 1.5%;
            width: 63%;
        }

        aside {
            float: right;
            margin: 0 1.5%;
            width: 30%;
        }
    </style>
</head>
<body>
<header>
    <h1>Balloon Order page - Delivery information </h1>
</header>
<section>

    <form th:method="GET" th:action="@{'/balloons/BalloonOrder.do'}">
        <label for="clientName">Client Name:</label><br/>
        <input type="text" id="clientName" name="clientName"/><br/>
        <label for="clientAddress">Delivery Address:</label><br/>
        <textarea cols="40" rows="3" id="clientAddress" name="clientAddress"></textarea><br/>
        <input type="datetime-local" name="orderDate">
        <input type="submit" value="Submit">

    </form>

</section>
<aside>
    <table>
        <tr>
            <th colspan="2">
                Your Order Status
            </th>
        </tr>

        <tr>
            <td><b>Balloon Color </b></td>
            <td th:text="${session.BalloonType}"></td>
        </tr>
        <tr>
            <td><b>Balloon Size </b></td>
            <td th:text="${session.BalloonSize}"></td>
        </tr>

    </table>
</aside>
</body>
</html>