<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Balloon Order page - Welcome and choose a Balloon</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <style type="text/css">
        body {
            width: 800px;
            margin: auto;
        }
    </style>
</head>
<body>
<header>
    <h1>Welcome to our Balloon Shop App</h1>
</header>
<h2>Categories</h2>

<!-- prva zadaca -->
<!--<ul>-->
<!--    <li th:each="category: ${categories}">-->
<!--        <th:block th:text="${category.name}"/>-->
<!--        <th:block th:text="${category.description}"/>-->
<!--    </li>-->
<!--</ul>-->

<div class="container mb-4">
    <div class="row">
        <div class="col-12" th:if="${balloons.size() > 0}">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Balloon name</th>
                        <th scope="col">Balloon description</th>
                        <th scope="col">Manufacturer</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="balloon : ${balloons}" class="balloons">
                        <td th:text="${balloon.getName()}"></td>
                        <td th:text="${balloon.getDescription()}"></td>
                        <td th:text="${balloon.getManufacturer() != null}
                            ? ${balloon.getManufacturer().getName()} : 'No Manufacturer'"></td>
                        <td class="text-right">
                            <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                            <form th:method="delete"
                                  th:action="@{'/balloons/delete/{id}' (id=${balloon.getId()})}">
                                <button type="submit" class="btn btn-sm btn-danger delete-balloons">
                                    <i class="fa fa-trash">Delete</i>
                                </button>
                            </form>
                            </th:block>
                            <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                            <a class="btn btn-sm btn-info edit-balloons"
                               th:href="@{'/balloons/edit-form/{id}' (id=${balloon.getId()})}">
                                <i class="fa fa-trash">Edit</i></a>
                            </th:block>
<!--                            <form th:action="@{'/shopping-cart/add-order/{id}' (id=${balloon.getId()})}"-->
<!--                                  th:method="POST"-->
<!--                                  sec:authorize="isAuthenticated()">-->
<!--                                <button type="submit"-->
<!--                                        class="btn btn-sm btn-primary cart-balloons">-->
<!--                                    <i class="fa fa-trash">Add product to cart</i>-->
<!--                                </button>-->
<!--                            </form>-->

                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col mb-3">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                <a href="/balloons/add-form" class ="btn btn-block btn-dark add-balloons-btn">Add new Balloon</a>
                </th:block>
            </div>
        </div>
    </div>
</div>
<h2>Choose balloon color:</h2>
<form th:action="@{'/balloons/color'}" th:method="GET">

    <input type="radio" name="color" value="Red Balloon"> Red Balloon<br/>
    <input type="radio" name="color" value="Green Balloon"> Green Balloon<br/>
    <input type="radio" name="color" value="Yellow Balloon"> Yellow Balloon<br/>
    <input type="radio" name="color" value="Blue Balloon"> Blue Balloon<br/>

    <br/>
    <input type="submit" value="Submit">

</form>
<a href="/logout">Log out</a>
<!--<a href="/orders">View Orders</a>-->
<a href="/shopping-cart">Shopping cart</a>
<a href="/login">Log in</a>



</body>
</html>